@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");

.container {
  border: 2px solid rgb(0, 254, 30);

  display: inline-block;
  padding: 15px;
  border-radius: 10px;
  max-width: 90%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  box-shadow: 5px 10px #00c30d;
}
.totalcontainer {
  display: flex;
  justify-content: space-between;
}

body {
  margin: 0;
  padding: 0;
  color: black;
  font-family: sans-serif;
  background-image: url("https://cdn.wallpapersafari.com/85/48/xdsiba.jpg");
}

.hamburger {
  cursor: pointer;
  transition: 0.1s all;
}

.hamburger :hover {
  transform: scale(1.5);
}

.video {
  z-index: -4;
}

.superman {
  display: none;
}

.differencetext {
  border-radius: 10px;
  cursor: pointer;
  padding: 5px;
  font-family: "Fredericka the Great", cursive;
  font-size: 40px;
}

.alert {
  font-family: "Fredericka the Great", cursive;
}
@media screen and (max-width: 768px) {
  .container {
    /* border: 2px solid brown; */

    display: inline-block;
    padding: 15px;
    border-radius: 10px;
    max-width: 90%;
    transform: translate(-50%, -50%);
    position: absolute;
    /* top: 50%;
    left: 50%; */
    margin-top: 400px;
    background-color: white;
    box-shadow: 5px 10px #888888;
  }

  .samurai {
    display: none;
  }

  .king {
    display: none;
  }

  .superman {
    display: inline-block;
    opacity: 0.7;
    z-index: 3;
  }
}
